/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --accent-color: #FF0070;
  --main-text-color: #F1B2CE;
  --title-color: #DB00FF;
  --subtitle-color: #FF0070;
  --card-title-color: #000028;
  --footer-shadow: #FF0070;
  --hover-color: rgba(255, 0, 112, 0.4);
}

