/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #FFF1F7;
  --accent-color: #FF8DCB;
  --main-text-color: #353430;
  --title-color: #FFC2E6;
  --subtitle-color: #353430;
  --card-title-color: #353430;
  --hover-color: rgba(50, 49, 45, 0.4);
}

.theme-light .header__decor {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #FFF1F7;
  --accent-color: #FF8DCB;
  --main-text-color: #353430;
  --title-color: #FFC2E6;
  --subtitle-color: #353430;
  --hover-color: rgba(50, 49, 45, 0.4);
  }

  .theme-light .header__decor {
  display: none;
  }

  .theme-auto .header__decor {
  display: none;
  }
}